{% extends "master.html" %}

{% block title %}
  BookList
{% endblock %}

{% block content %}
 <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li>{{ book.title }} by {{ book.author }}</li>
        {% empty %}
            <li>No books available.</li>
        {% endfor %}
    </ul>

    <!-- Pagination controls -->
    {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; prva</a>
        <a href="?page={{ page_obj.previous_page_number }}">predošla</a>
      {% endif %}

      <span class="current">
        Stránka {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">dalsia</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">posledna &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endif %}
{% endblock %}