{% extends "master.html" %}

{% block content %}
    <div>
        <h1>Profile</h1>
        <br>
        <h2>{{ user.username }}</h2>
        <h1>Profile of {{ user.username }}</h1>
        <p>{{ user.email }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <p><strong>Location:</strong> {{ profile.location }}</p>
        <p><strong>Birth Date:</strong> {{ profile.birth_date }}</p>


        {% if profile.profile_image %}
        <p><img src="{{ profile.profile_image.url }}" alt="Profile image" width="300"></p>
    {% endif %}

    <h2>Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    </div>
{% endblock content %}