<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'json_view' %}">Json test</a></li>
            <li><a href="{% url 'books_json' %}">Json Books</a></li>
            <li><a href="{% url 'download_file' %}">Download</a></li>
            <li><a href="{% url 'upload_file' %}">upload file</a></li>
            <li><a href="{% url 'add_book' %}">add Book</a></li>
            <li><a href="{% url 'list_book' %}">List Book</a></li>
            <li><a href="{% url 'search_book' %}">Search Book</a></li>


                <a href="{% url 'profile' %}">Profile</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>

        </ul>
    </nav>
</header>